@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap");
/* Font-family */
/* Colors */
/* primary-colors */
/* secondary-colors */
/* neutrals */
/* Buttons */
/* buttons */
.button_primary {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  background: #36b873;
  color: #fafafa;
  border-color: #5fe19b;
  border-radius: 0.5rem;
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
}
.button_primary:hover {
  cursor: pointer;
}

.button_secondary {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  background: transparent;
  color: #5fe19b;
  border-color: #077a3c;
  border-radius: 0.5rem;
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
}
.button_secondary:hover {
  cursor: pointer;
}

.button_social_media {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  background: transparent;
  color: #fafafa;
  border-color: #fafafa;
  border-radius: 0.5rem;
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  font-weight: bold;
  border: 2px solid;
  display: flex;
  align-items: center;
}
.button_social_media:hover {
  cursor: pointer;
}
.button_social_media div {
  width: 30%;
}
.button_social_media span {
  width: 70%;
  text-align: left;
}

/* body */
body {
  font-family: "Exo", sans-serif;
  background: url("../img/BG.png") no-repeat;
  height: 100%;
  background-size: cover;
  margin: 0;
}

nav {
  height: 115px;
}

.logo {
  width: 322px;
  height: 66px;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.bg-box {
  display: flex;
  justify-content: flex-end;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 650px;
  color: #fafafa;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  backdrop-filter: blur(10px);
  margin-right: 7rem;
  margin-top: 2rem;
  padding: 2.5rem 3rem 0 3rem;
  border-radius: 0.5rem;
}
.box-content h3,
.box-content p {
  margin: 3px;
}
.box-content h3 {
  font-weight: bolder;
}
.box-content .inputs-container {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
}
.box-content .inputs-container input {
  padding: 1rem;
}
.box-content .margin-y {
  margin-top: 30px;
  margin-bottom: 30px;
}

.password-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 12.5rem;
  right: 3.5rem;
}

form {
  width: 100%;
  margin-top: 10px;
}
form input {
  padding: 10px;
  margin-top: 10px;
  border: 0;
  border-radius: 0.2rem;
}
form input::placeholder {
  font-family: "Exo", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.row hr {
  width: 100%;
}

.or {
  padding: 0 1rem;
}

.font-small {
  font-size: 13px;
}

/* checkbox remember me */
.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container label {
  cursor: pointer;
  display: flex;
}
.checkbox-container input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkbox-container input[type=checkbox]:checked + label::before {
  background-color: #36b873;
  border: none;
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.3em;
  margin-right: 0.5rem;
}
.checkbox-container label::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 0.3em;
  margin-right: 0.5rem;
  border: 0.09em solid #fafafa;
}

/* a links */
a {
  color: #5fe19b;
  text-decoration: none;
}

a:hover {
  color: #fafafa;
  text-decoration: underline;
}

.social-media-icons {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 5px;
  filter: invert(100%);
  display: inline-block;
}
