/* Font-family */
$font: "Exo", sans-serif;

/* Colors */
/* primary-colors */
$mint-condition: #5fe19b;
$so-jaded: #36b873;
$kate-moss: #077a3c;
$white: #fafafa;
/* secondary-colors */
$hey-honey: #ffdc22;
$coral-reef: #fb5e5e;
$deep-blue: #06217a;
$lapis-lazuli: #1345c8;
$cool-iris: #5e81fa;
/* neutrals */
$shadow: #141515;
$charcoal: #313031;
$ashtray: #515050;
$fossil: #929293;
$pewter: #c4c5c5;
$pebbles: #d9d8d9;
$smoke: #e6e7e6;
$mink: #f1f1f0;
