@use "./variables";
@use "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap");

/* buttons */
.button_primary {
  @include mixins.buttons(
    $bg: variables.$so-jaded,
    $color: variables.$white,
    $border: variables.$mint-condition
  );
}

.button_secondary {
  @include mixins.buttons(
    $bg: transparent,
    $color: variables.$mint-condition,
    $border: variables.$kate-moss
  );
}

.button_social_media {
  @include mixins.buttons(
    $bg: transparent,
    $color: variables.$white,
    $border: variables.$white
  );
  font-weight: bold;
  border: 2px solid;
  display: flex;
  align-items: center;

  div {
    width: 30%;
  }

  span {
    width: 70%;
    text-align: left;
  }
}

/* body */
body {
  font-family: variables.$font;
  background: url("../img/BG.png") no-repeat;
  height: 100%;
  background-size: cover;
  margin: 0;
}

nav {
  height: 115px;
}

.logo {
  width: 322px;
  height: 66px;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.bg-box {
  display: flex;
  justify-content: flex-end;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 650px;
  color: variables.$white;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  backdrop-filter: blur(10px);
  margin-right: 7rem;
  margin-top: 2rem;
  padding: 2.5rem 3rem 0 3rem;
  border-radius: 0.5rem;

  h3,
  p {
    margin: 3px;
  }

  h3 {
    font-weight: bolder;
  }

  .inputs-container {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;

    input {
      padding: 1rem;
    }
  }

  .margin-y {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.password-input {
  position: relative;
  input {
    width: 91.5%;
  }
  img {
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
  }
}

form {
  width: 100%;
  margin-top: 10px;

  input {
    padding: 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 0.2rem;
    &::placeholder {
      font-family: variables.$font;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  hr {
    width: 100%;
  }
}

.or {
  padding: 0 1rem;
}

.font-small {
  font-size: 13px;
}

/* checkbox remember me */
/* .remember {
} */

/* a links */
a {
  color: variables.$mint-condition;
  text-decoration: none;
}

a:hover {
  color: variables.$white;
  text-decoration: underline;
}

.social-media-icons {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 5px;
  filter: invert(100%);
  display: inline-block;
}
